<h1>グループ編集</h1>

<%= form_with model:@group, local:true do |f| %>
  <div class="group-new-form">
    <div class="gtoup-new-form-name">
      <%= f.label :name, 'グループ名' %>
      <%= f.text_field :name %>
      <%= f.label :overview, '概要' %>
      <%= f.text_field :overview %>
      <%= f.label :image, '画像' %>
      <%= f.attachment_field :image %>
      <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
    </div>
    <%= f.submit '更新' %>
  </div>
<% end %>