<h1>グループ一覧</h1>
  <%= form_with url: group_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
<div class="group-new">
  <%= link_to 'グループ作成', new_group_path %>
</div>
<div class="group_list">
  <% @groups.each do |group| %>
    <div class="group_index">
      <%= attachment_image_tag group, :image %>
      <%= group.name %>
      <% if user_signed_in? %>
        <% unless GroupUser.exists?(group_id: group.id, user_id: current_user.id) %>
          <div class="participation">
            <%= link_to '参　加', join_group_path(group) %>
          </div>
        <% else %>
          <div class="participation">
            <%= link_to "参加中", group_path(group.id) %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
