<div class="contaner mt-5">
  <div class="row ml-2">
    <h1 class="col-sm-8">グループ一覧</h1>
    <div class=col-sm-4>
      <%= form_with url: group_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="group-new">
      <%= link_to 'グループ作成', new_group_path %>
    </div>
  </div>
  <div class="row ml-2 mr-2">
    <% @groups.each do |group| %>
      <div class="col-sm-4  mt-3">
        <div class="card" style="justify-content: center">
          <%= attachment_image_tag group, :image, style:'object-fit: contain;' %>
          <div class="text-right">
            <%= group.name %>
            <% if user_signed_in? %>
            <% unless GroupUser.exists?(group_id: group.id, user_id: current_user.id) %>
              <div class="participation">
                <%= link_to '参　加', join_group_path(group) %>
              </div>
            <% else %>
              <div class="participation">
                <%= link_to "参加中", group_path(group.id) %>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="mt-3 mx-auto">
      <%= paginate @groups %>
    </div>
  </div>
</div>
