<div>
  <h1><%= @group.name %></h1>
  <div>
    <%= @group.overview %>
  </div>
  <%= attachment_image_tag @group, :image %>
  <%= link_to "Back", :back %>
  <%= link_to "チャット", chat_path %>
  <%= link_to "編集", edit_group_path %>
</div>