<%= form_with model: @chat do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :group_id %>
    <%= f.submit %>
<% end %>
<table>
  <thead>
    <tr>
      <td>投稿者名</td>
      <td>投稿内容</td>
    </tr>
  </thead>
  <tbody id="chats">
    <%= render 'chats/show', chats: @chats %>
  </tbody>
</table>