<!DOCTYPE html>
<html>
  <head>
    <title>RingofHobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav pull-right nav-pills">
      <% if user_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        |
        <li>
          <%= link_to "グループ一覧", groups_path %>
        </li>
        |
        <li>
          <%= link_to "マイページ", current_user %>
        </li>
        |
        <li>
          <%= link_to "参加一覧", group_participant_path %>
        </li>
        |
          <% if current_user.notifications.exists?(checked: false) %>
          <li class="notification">
           <%= link_to "通知", user_notifications_path(user_id: current_user.id) %>
          </li>
          <% else %>
          <li>
           <%= link_to "通知", user_notifications_path(user_id: current_user.id) %>
          </li>
          <% end %>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
